<%= form_for @code do |f| %>

<% if @code.errors.any? %>
	<div id="error_reason">
	<h2>
		<%= pluralize(@code.errors.count, "error") %> prevented this code from being saved:
	</h2>
	<ul>
		<%= @code.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>
	</ul>
	</div>
<% end %>

	<p>
		<%= f.label :code %><br>
		<%= f.text_field :code %>
	</p>
		<p>
		<%= f.label :booking_user_email %><br>
		<%= f.text_field :booking_user_email %>
	</p>
	<p>
		<%= f.submit %>
	</p>
	
<% end %>