

<div class="container" >

  <ul class="nav nav-tabs">
    <li class="active"><a href="#codes" data-toggle="tab">Codes</a></li>
    <li><a href="#add-codes" data-toggle="tab">Add/Import codes</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="codes">
    <div class="all-codes">
    <div class="table-responsive-xl">
      <table class="table-sm table-bordered table-inverse table-sm">
      <thead><th>Code</th><th>Booking user</th><th>Arrival date</th><th>Hotel</th><th>Reference</th><th>Num. of tickets</th><th>Actions</th></thead>

      <% @codes.each do |code| %>
        <tbody>
          <tr>
            <td><p><%= code.code %></p></td>
            <td><p><%= code.booking_user_email %></p></td>
            <td><p><%= code.arrival_date %></p></td>
            <td><p><%= code.property %></p></td>

            <td><p><%= code.reference %></p></td>

            <td><p><%= code.number_of_tickets %></p></td>
            <td>
            <div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle btn-success" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Actions
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><%= link_to 'Show', code_path(code), class: 'dropdown-item' %></li>
    <li><%= link_to 'Edit', edit_code_path(code), class: 'dropdown-item' %></li>
    <li><%= link_to 'Delete', code_path(code), class: 'dropdown-item' ,
                method: :delete,
                data: {confirm: 'Are you sure?'} %></li>
  </div>
</div>
            </td>
          </tr>
      <% end %>
        </tbody>
      </table>
      </div>
      </div>

    <%= paginate @codes %>

    </div>
    <div class="tab-pane" id="add-codes">
      <div class="add-individual-code">  
        <h3>Add an individual code</h3>
        <%= button_to 'Add a code', new_code_path, :method => :get %>
        <br>
      </div>

    <div>

      <h3>Upload multiple codes</h3>
      <p>File must be a .csv file</p>
      <%= form_tag import_codes_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import CSV" %>
      <% end %>
    </div>
      <%= @rows %>
  </div> 
  </div>
</div>
