

<div class="container">
<h1>Codes sent</h1>
<table class="table table-bordered table-inverse table-sm table-responsive">
<thead><th>Code</th><th>Booking user</th><th>Show</th><th>Edit</th><th>Delete</th></thead>

<% @codes.each do |code| %>
<tbody>
<tr>
<td><p><%= code.code %></p></td>
<td><p><%= code.booking_user_email %></p></td>
<td><p><%= link_to 'Show', code_path(code) %></p></td>
<td><p><%= link_to 'Edit', edit_code_path(code) %></p></td>
<td><p><%= link_to 'Delete', code_path(code),
		method: :delete,
		data: {confirm: 'Are you sure?'} %></p></td>
</tr>
<% end %>
</tbody>
</table>

<%= link_to 'Add new codes', new_code_path %>

<h3>Import codes</h3>
<%= form_tag import_codes_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import CSV" %>
<% end %>

<%= @rows %>
</div> 