<h3>Codes</h3>

<p>
	<strong>Code:</strong>
	<%= code.code %>
</p>
<p>
  <strong>Booking user:</strong>
  <%= code.booking_user_email %>
</p>
<p>
  <strong>Property:</strong>
  <%= code.property %>
</p>
<p>
  <strong>Reference:</strong>
  <%= code.reference %>
</p>
<p>
  <strong>Post as:</strong>
  <%= code.post_as %>
</p>
<p>
  <strong>Status:</strong>
  <%= code.status %>
</p>
<p>
  <strong>Booking type:</strong>
  <%= code.booking_type %>
</p>
<p>
  <strong>Booked date:</strong>
  <%= code.booked_date %>
</p>
<p>
  <strong>Number of tickets:</strong>
  <%= code.number_of_tickets %>
</p>
<p>
  <strong>User group:</strong>
  <%= code.user_group %>
</p>
<p>
  <strong>Date claimed:</strong>
  <%= code.date_claimed %>
</p>
<p>
  <strong>Date sent:</strong>
  <%= code.date_sent %>
</p>
<p>
  <strong>Created at:</strong>
  <%= code.created_at %>
</p>
<p>
  <strong>Updated at:</strong>
  <%= code.updated_at %>
</p>



<%= link_to 'Edit', edit_code_path(code) %>
<%= link_to 'Back to codes list', codes_path %>
<%= link_to 'Add another code', new_code_path %>
