
<div class="container">

<h2>Booking details for code <%= code.code %> </h2>

<div class="booking-details">
<div class="row">
<p class="col-md-2">
  <strong>Property:</strong>
  <br>
  <%= code.property %>
</p>

<p class="col-md-2">
  <strong>Arrival date:</strong>
  <br>
  <%= code.arrival_date %>
</p>

<p class="col-md-2">
  <strong>Reference:</strong>
  <br>
  <%= code.reference %>
</p>

<p class="col-md-2">
  <strong>Post as:</strong>
  <br>
  <%= code.post_as %>
</p>

</div>

<h4>Further details</h4>

<div class="row">
<p class="col-md-2">
  <strong>Qualifying user:</strong>
  <br>
  <%= code.booking_user_email %>
</p>
<p class="col-md-2">
  <strong>User group:</strong>
  <br>
  <%= code.user_group %>
</p>
<p class="col-md-2">
  <strong>Booking user:</strong>
  <br>
  <%= code.booking_email %>
</p>

<p class="col-md-2">
  <strong>Agency user:</strong>
  <br>
  <%= code.agency_email %>
</p>
</div>

<div class="row">

<p class="col-md-2">
  <strong>Status:</strong>
  <br>
  <%= code.status %>
</p>
<p class="col-md-2">
  <strong>Booking type:</strong>
  <br>
  <%= code.booking_type %>
</p>
<p class="col-md-2">
  <strong>Booked date:</strong>
  <br>
  <%= code.booked_date %>
</p>
</div>
</div>

<div class="row">
<p class="col-md-2">
  <strong>Number of tickets:</strong
  <br>
  <%= code.number_of_tickets %>
</p>

<p class="col-md-2">
  <strong>Date claimed:</strong>
  <br>
  <%= code.date_claimed %>
</p>
<p class="col-md-2">
  <strong>Date sent:</strong>
  <br>
  <%= code.date_sent %>
</p>
<p class="col-md-2">
  <strong>Created at:</strong>
  <br>
  <%= code.created_at %>
</p>
</div>
</div>
</div>




<div>
<br>
<div class="actions">
<ul>
<li class="action-button"><%= link_to 'Edit', edit_code_path(code) %></li>
<li class="action-button"><% if code.approval_required_at != nil && code.approved_at == nil %>  
  <%= link_to 'Approve code', approve_code_path(id: code.id), :method => :put %><% end %></li>
<li class="action-button"><% if code.date_sent == nil %>  
  <%= link_to 'Mark as sent', process_code_path(id: code.id), :method => :put %>
<% end %></li>
</ul>
</div>

<h2>Similar bookings</h2>

<div class="table-responsive-xl">
<table class="table">
<tr>
<th>
  <strong>Code:</strong>
</th>
<th>
  <strong>Arrival date:</strong>
</th>
<th>
  <strong>Property:</strong>
</th>
<th>
  <strong>Reference:</strong>
</th>
<th>
  <strong>Post as:</strong>
</th>
<th>
  <strong>Status:</strong>
</th>
<th>
  <strong>Booking type:</strong>
</th>
<th>
  <strong>Booked date:</strong>
</th>
<th>
  <strong>Number of tickets:</strong>
</th>
<th>
  <strong>User group:</strong>
</th>
<th>
  <strong>Date claimed:</strong>
</th>
<th>
  <strong>Date sent:</strong>
</th>
<th>
  <strong>Created at:</strong>
</th>
</tr>

<% code.similar_bookings.each do |code| %>


<tr>
<td>
  <%= code.code %>
</td>
<td>
  <%= code.arrival_date %>
</td>
<td>
  <%= code.property %>
</td>
<td>
  <%= code.reference %>
</td>
<td>
  <%= code.post_as %>
</td>
<td>
  <%= code.status %>
</td>
<td>
  <%= code.booking_type %>
</td>
<td>
  <%= code.booked_date %>
</td>
<td>
  <%= code.number_of_tickets %>
</td>
<td>
  <%= code.user_group %>
</td>
<td>
  <%= code.date_claimed %>
</td>
<td>
  <%= code.date_sent %>
</td>
<td>
  <%= code.created_at %>
</td>
</tr>
<% end %>

</table>
</div>

<div>
<br>
<%= link_to 'Back to codes list', codes_path %>
<%= link_to 'Add another code', new_code_path %>
</div>
</div>

