<style>

html, body, .container {
  padding: 0;
  margin: 0;
}

</style>
 <div class="row">
    <div class="col-md-12">
      <h3>Booking details for code <%= code.code %></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <h3>Property</h3>

      <p><%= code.property %></p>
    </div>

    <div class="col-md-3">
      <h3>Arrival date</h3>

      <p><%= code.arrival_date %></p>
    </div>

    <div class="col-md-3">
      <h3>Booked date</h3>

      <p><%= code.booked_date %></p>
    </div>

    <div class="col-md-3">
      <h3>Your reference</h3>

      <p><%= code.post_as %></p>
    </div>
  </div><br />

  <div class="row">
    <div class="col-md-3">
      <h3>Date tickets claimed</h3>

      <p><%= code.date_claimed %></p>
    </div>

    <div class="col-md-3">
      <h3>Qty of tickets earned</h3>

      <p><%= code.number_of_tickets %></p>
    </div>

    <div class="col-md-3">
      <h3>Date tickets sent</h3>

      <p><%= code.date_sent %></p>
    </div>
  </div>