<div class="container">
<h3>Codes</h3>


<h2>Booking details</h2>

<div class="table-responsive-xl">
<table class="table-sm table-bordered table-inverse table-sm">
<tr>
<th>
  <strong>Code:</strong>
</th>
<th>
  <strong>Arrival date:</strong>
</th>
<th>
  <strong>Booking user:</strong>
</th>
<th>
  <strong>Property:</strong>
</th>
<th>
  <strong>Reference:</strong>
</th>
<th>
  <strong>Post as:</strong>
</th>
<th>
  <strong>Status:</strong>
</th>
<th>
  <strong>Booking type:</strong>
</th>
<th>
  <strong>Booked date:</strong>
</th>
<th>
  <strong>Number of tickets:</strong>
</th>
<th>
  <strong>User group:</strong>
</th>
<th>
  <strong>Date claimed:</strong>
</th>
<th>
  <strong>Date sent:</strong>
</th>
<th>
  <strong>Created at:</strong>
</th>
</tr>

<tr>
<td>
  <%= code.code %>
</td>
<td>
  <%= code.arrival_date %>
</td>
<td>
  <%= code.booking_user_email %>
</td>
<td>
  <%= code.property %>
</td>
<td>
  <%= code.reference %>
</td>
<td>
  <%= code.post_as %>
</td>
<td>
  <%= code.status %>
</td>
<td>
  <%= code.booking_type %>
</td>
<td>
  <%= code.booked_date %>
</td>
<td>
  <%= code.number_of_tickets %>
</td>
<td>
  <%= code.user_group %>
</td>
<td>
  <%= code.date_claimed %>
</td>
<td>
  <%= code.date_sent %>
</td>
<td>
  <%= code.created_at %>
</td>
</tr>

</table>
</div>

</div>