<style>

html, body, .container {
  padding: 0;
  margin: 0;
}

p {
  border: 1px solid grey;
  height: 50px;
  padding: 5px 0 0 5px;
}

</style>
<div class="container">

<h2>Booking details for code <%= code.code %> </h2>

  <div class="booking-details">
    <div class="row">
    <p class="col-md-2">
      <strong>Property:</strong>
      <%= code.property %>
    </p>

    <p class="col-md-2">
      <strong>Arrival date:</strong>
      <%= code.arrival_date %>
    </p>

    <p class="col-md-2">
      <strong>Booked date:</strong>
      <%= code.booked_date %>
    </p>

    <p class="col-md-2">
      <strong>Post as:</strong>
      <%= code.post_as %>
    </p>

    <p class="col-md-2">
      <strong>Number of tickets earned:</strong>
      <%= code.number_of_tickets %>
    </p>

    <p class="col-md-2">
      <strong>Date claimed:</strong>
      <%= code.date_claimed %>
    </p>
    <p class="col-md-2">
      <strong>Date sent:</strong>
      <%= code.date_sent %>
    </p>

    </div>

  </div>

</div>