<div id="all-codes">
<H1>All codes</H1>
<% if @codes %>
<% @codes.each do |code| %>
	<p><%= code.code_entered %> </p>
	<p><%= code.created_at %> </p>
	<p><%= code.updated_at %> </p>
  <p><%= code.user_email %> </p>
  <p><%= code.user_id %> </p>
  <p><%= code.updated_at %> </p>
<% end %>
<% end %>
</div>