<div class="container">
<h1>My code submissions</h1>

<p>Welcome, <%= current_user.name %>. Below are all your previous cinema tickets claims.</p>
<br>
<table class="table table-bordered table-inverse table-sm">
<thead><th>Code</th><th>Created at</th><th>Updated at</th><th>Email</th><th>Id</th></thead>

<% @codes.each do |code_sub| %>

<tbody>
<tr>
<td>  <p><%= code_sub.code_entered %> </p> </td>
<td>   <p><%= code_sub.created_at %> </p> </td>
<td>   <p><%= code_sub.updated_at %> </p> </td>
<td>   <p><%= code_sub.user_email %> </p> </td>
<td>   <p><%= code_sub.user_id %> </p> </td>
</tr>
<% end %>
</tbody>
</table>
</div>