<style>

html, body, .container {
  padding: 0;
  margin: 0;
}

</style>

<div class="container" id="submit-codes">
  <div class="row" id="claim-tickets">
    <%= form_for @code_submission do |f| %>
    <% if @code_submission.errors.any? %>
      <div id="errors" class="row">
        <div class="col-md-6>"

          <p>Your submission failed for following reasons</p>
          <ul>
            <% @code_submission.errors.full_messages.each do |error| %>
            <li><%= error %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="col-md-6>"
      <%= f.label "Enter your code below:" %> <br/>
      <%= f.text_field :code_entered %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <br><%= f.submit "Claim my cinema tickets", data: { disable_with: false }, class: 'submit-claim' %>
    <% end %>
    </div>
  </div>
</div>