<%= form_for @code_submission do |f| %>
<% if @code_submission.errors.any? %>
<div id="errors" class="row">
  <p>Your submission failed for following reasons</p>
  <ul>
    <% @code_submission.errors.full_messages.each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul>
</div>
<% end %>

<!-- <h2>Please enter your code below</h2> -->
<p>
  <%= f.label "Enter your code" %> <br/>
  <%= f.text_field :code_entered %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
</p>
<p><%= f.submit %></p>

<% end %>

<p><%= link_to 'All code submissions', list_code_submissions_path %></p>